[submodule "external/v_repStubsGen"]
	path = external/v_repStubsGen
	url = https://github.com/fferri/v_repStubsGen
[submodule "external/ompl"]
	path = external/ompl
	url = https://github.com/ompl/ompl
